<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=divice-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <title>登录</title>

    <script src="../js/jquery-1.10.1.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.min.js"></script>
    <link rel="stylesheet/less" type="text/css" href='../less/index.less' />
    <script src="../js/less.js"></script>

</head>
<body>
<div class="changeInfo">
    <div class="top text-center">
        <p>您已绑定手机号码</p>
        <span>188****8888</span>
        <button>更换</button>
    </div>

    <div class="foot text-center">
        <p>咨询电话:0571-87223531</p>
        <span>服务时间为工作日的上午9：00—11:30  下午2：00—5：00</span>
    </div>
</div>

<script src="../js/fontSize.js"></script>
</body>
</html>