<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=divice-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <title>登录</title>

    <script src="../js/jquery-1.10.1.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.min.js"></script>
    <link rel="stylesheet/less" type="text/css" href='../less/index.less' />
    <script src="../js/less.js"></script>

</head>
<body>
<div class="content">
    <div class="top">
        <img src="../images/logo_02.png" alt="">
    </div>
    <div class="main text-center ">
        <ul class="text-center clearfix">
            <li class="col-xs-12">
                <div class="col-xs-2"></div>
                <input type="text" class="col-xs-8" placeholder="请输入姓名">
                <div class="col-xs-2"></div>
            </li>
            <li class="col-xs-12">
                <div class="col-xs-2"></div>
                <input type="text" class="col-xs-8" placeholder="请输入身份证">
                <div class="col-xs-2"></div>
            </li>
            <li class="col-xs-12">
                <div class="col-xs-2"></div>
                <input type="text" class="col-xs-8" placeholder="请输入手机号">

                <div class="col-xs-2" style="position: relative;">
                    <span>获取验证码</span>
                </div>
            </li>
            <li class="col-xs-12">
                <div class="col-xs-2"></div>
                <input type="text" class="col-xs-8" placeholder="请输入验证码">
                <div class="col-xs-2"></div>
            </li>
        </ul>

    </div>
    <div class="botton text-center">
    <button class="btn1 text-center">
        登录
    </button>
    </div>
</div>
<script src="../js/fontSize.js"></script>
</body>
</html>