<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=divice-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <title>登录</title>

    <script src="../js/jquery-1.10.1.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.min.js"></script>
    <link rel="stylesheet/less" type="text/css" href='../less/index.less' />
    <script src="../js/less.js"></script>

</head>
<body>
<div class="Xfw">
    <div class="banner">
        <img src="../images/xfw_1.png" alt="">
    </div>

    <div class="main">

        <ul>
            <li>
                <a href="">
                    <img src="../images/xfw_2.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../images/xfw_3.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../images/xfw_4.png" alt="">
                </a>
            </li>
        </ul>
    </div>

</div>
<script src="../js/fontSize.js"></script>
</body>
</html>